/* ############################################ */
/* GENERAL CSS                                  */
/* ############################################ */

body {
  background-color: #edf2f9;
}

/* ############################################ */
/* OPTION FOR USER                              */
/* ############################################ */

#accordion .card-header > h2 {
  position: relative;
}

#accordion .card-header > h2 > button {
  width: 100%;
  text-align: left;
  padding-right: 40px;
}

#accordion .card-header > h2 > button:focus {
  box-shadow: none;
}

#accordion .card-header > h2 > i {
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 300ms ease;
}

#accordion .card-header > h2 > button:not(.collapsed) ~ i {
  transform: rotate(180deg) translateY(50%);
  transform-origin: center;
}
